*.txt
projects/qr-code-component-figma/qr-code-component.fig
projects/qr-code-component-figma/README.md
projects/qr-code-component-main/design/desktop-design.jpg
projects/qr-code-component-main/design/mobile-design.jpg
projects/qr-code-component-main/README-template.md
projects/qr-code-component-main/style-guide.md
projects/qr-code-component-main/README.md
